*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(157, 157, 224);
  height: 100vh;
  
}

input{
  background: orange;
  border-radius: 0.5rem;
  border: 2px solid green;
}

